# local benchmark results
/bin/mount/benchmark_exports/*
!/bin/mount/benchmark_exports/.gitKeep

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
.history/*

# System files
.DS_Store
Thumbs.db
